@model List<Category>

<table class="table">
    <thead style="text-align:center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">CreatedAT</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
           
           
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CreatedAt.ToString("dd MMM  yyyy")</td>


                <td>
                    <a asp-controller="category" asp-action="update" asp-route-id="@item.Id">
                        <i style="color:green" class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a onclick="return confirm('are you sure')"  asp-controller="category" asp-action="delete" asp-route-id="@item.Id">
                        <i style="color:red" class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
               
            </tr>
        }
    </tbody>
</table>